{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, I'm Pratika! I completed my schooling in the PSBB Millennium school. Now I am doing my second year MTech Computer Science Engineering in Sri Krishna College of Engineering and Technology.
        I love coding and designing. I'm a full stack developer and a freelancer. You can find me on GitHub as <a href="https://github.com/Pratika17">Pratika</a>.I love to learn new things and also love to explore many stuffs.
        I am a hardworker and my objective is to understand things better.
    </p>
    <p>
        Coding is extremely rewarding. As you learn, things start to click and make sense.
        You can join the dots of all the things that weren't quite clear before.
        I will be consistent in my learning and I will be a great asset to any team/company.
        I do have many coding skills which includes Java,HTML,CSS,Python,C,C++,Java Script,MYSQL,SQL,Flask,MONGODB.
    </p>
    <p>
        I love to travel and explore new places. I love to meet new people and learn new things. I am a big fan of books and I love to read. 
        I love to play badminton and I am an Odissi dancer with 10 years of experience.

    </p>
</main> 
{% endblock %}